<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <meta charset="UTF-8">
	    <title>침대학교</title>    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>   
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet"/>
	    <!-- 공통 css -->
	    <link th:href="@{/style/common.css}" rel="stylesheet"/>
	    <link th:href="@{/style/unity.css}" rel="stylesheet"/>
	    <!-- 개별 css -->
	    <link th:href="@{/style/student/student.css}" rel="stylesheet"/>
	    <!-- 개별 js -->
	    <script th:src="@{/js/student/student.js}"></script>
	    <script th:src="@{/js/assistant/assistant.js}"></script>
	    
	    <script th:src="@{/js/student/signUp.js}"></script>
	</head>
<th:block th:include="@{_body.html}"/>

</html>
