/* css 초기화*/


* {
    padding: 0;
    margin: 0;
    font: normal 12px '고딕';
    outline: none;
}
ul, ol {list-style: none;}

a {text-decoration: none;color: black;}

#wrapper {width: 100%; height: auto;}

main {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */
header {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: -3px;
}

header > .top {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: #1A4E8B;
    display: inline-block;
    margin-top: 0px;
}

header > .top > div {
    box-sizing: border-box;
    float: right;
    position: relative;
    right: 310px;
}

/* 헤더로고 css 추가 - 진윤희 20230308 */
header > .top > img {
    width: 130px;
    margin-left: 530px;
}

header > .top > #login_headerLogo {
    display: inline-block;
}

header > .top > #login_headerLogo > img{
    width: 130px;
    margin-left: 330px;
}
/* 헤더로고 끝 */

header > .top > div > a {
    font-size: 13px;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #c8c8c8;
    border-radius: 2.5px;
    display: inline-block;
}

/* aside */
main>aside {
    float: left;
    width: 270px;
    height: auto;
}

main>aside ul {
    background: #eaeaea
}

main>aside>ul>li {
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}

main>aside>ul>li>a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    line-height: 66px;
    text-indent: 10px;
}

main>aside>ul>li>a>i {
    margin-right: 10px;
    font-size: 20px;
}

/* 어사이드 목록 */
main>aside>ul>li>ol {
    width: 100%;
    height: auto;
    list-style: circle;
}

main>aside>ul>li>ol>li {
    width: 100%;
    height: 32px;
}

main>aside>ul>li>ol>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 52px;
}


/* Footer */
footer {
    display: block;
    background-color: #1A4E8B;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
}

footer > div {
    width: 1065px;
    text-align: center;
}

footer .footerLogo > img {
    width: 80px;
    height: 80px;
    padding: 30px 30px 30px 0px;
    margin-left: 330px;
    position: absolute;

}

footer > .footerCate {
    width: 1065px;
    height: 44px;
    margin: 0 auto;
    
}

footer > .footerData {
    display: flex;
    position: relative;
    top: -24px;
}

footer > .footerData > .footerSpans {
    margin-left: 422px;
    margin-top: 55px;
    text-align: left;
}

footer > .footerData > .footerSpans > span {
    color: #fff;
}

footer > .footerData > .footerSpans > .copyright {

}

footer > .footerData > .libBtn {
    position: absolute;
    top: 75px;
    right: -270px;
}


footer > div > ul {
}

footer > div > ul > li {
    display: inline-block;
    padding: 16px 11px;
}

footer > div > ul > li > a {
    font-size: 13px;
    color: #fff;
}