<th:block th:include="@{elib/_header.html}"/>
<main id="sub-container">
    <div class="sub-visual">
        <div class="bg">
            <div class="search-box">
                <form action="#">
                    <section class="search">
                        <div class="box1">
                            <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                        </div>
                        <div class="box2">
                            <button><span class="material-icons">search</span></button>
                        </div>
                    </section>
                </form>
                <div class="doc-info">
                    <section>
                        <ol>
                            <li class="first">
                                <a th:href="@{/elib/}">
                                    <img src="/ChimAcademy/img/elib/home.png" alt="index">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/elib/ebook/list}">전자책</a>
                            </li>
                            <li>
                                <a th:if="${sort=='4' and type=='1'}" th:href="@{/elib/ebook/list}">새로 들어온 책</a>
                                <a th:if="${sort=='4' and type=='4'}" th:href="@{/elib/ebook/list(GROUP='ebook',sort='4',type='4')}">대출이 많은 책</a>
                                <a th:if="${sort=='1' and type=='1'}" th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=10,cate2=10)}">주제별</a>
                                <a th:if="${sort=='3' and type=='1'}" th:href="@{/elib/ebook/list(GROUP='ebook',applier='예스24',sort=3,type=1)}">유통사별</a>
                            </li>
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="lnb">
            <h2>
                <b>전자책</b>
            </h2>
            <ul>
                <li class="" th:classappend="${sort=='4'} and ${type!='4'} ? 'active'">
                    <a th:href="@{/elib/ebook/list}">
                        <span>새로 들어온 책</span>
                    </a>
                </li>
                <li th:classappend="${sort=='4'} and ${type=='4'} ? 'active'">
                    <a th:href="@{/elib/ebook/list(GROUP='ebook',sort='4',type='4')}">
                        <span>대출이 많은 책</span>
                    </a>
                </li>
                <li th:classappend="${sort=='1'} and ${type=='1'} ? 'active'">
                    <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=10,cate2=10)}">
                        <span>주제별</span>
                    </a>
                    <ul class="subMenu">
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=10,cate2=10)}">
                                <span>유아/어린이</span>
                                <span class="count">([[${counts.c10}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=11,cate2=10)}">
                                <span>컴퓨터/IT</span>
                                <span class="count">([[${counts.c11}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=12,cate2=10)}">
                                <span>기타</span>
                                <span class="count">([[${counts.c12}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=13,cate2=10)}">
                                <span>인문/교양</span>
                                <span class="count">([[${counts.c13}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=14,cate2=10)}">
                                <span>철학/종교</span>
                                <span class="count">([[${counts.c14}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=15,cate2=10)}">
                                <span>사회</span>
                                <span class="count">([[${counts.c15}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',sort=1,cate1=16,cate2=10)}">
                                <span>자연과학</span>
                                <span class="count">([[${counts.c16}]])</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li th:classappend="${sort=='3'} and ${type=='1'} ? 'active'">
                    <a th:href="@{/elib/ebook/list(GROUP='ebook',applier='예스24',sort=3,type=1)}">
                        <span>유통사별</span>
                    </a>
                    <ul class="subMenu">
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',applier='예스24',sort=3,type=1)}">
                                <span>예스24</span>
                                <span class="count">([[${counts.yes}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',applier='북큐브',sort=3,type=1)}">
                                <span>북큐브</span>
                                <span class="count">([[${counts.book}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',applier='교보문고',sort=3,type=1)}">
                                <span>교보문고</span>
                                <span class="count">([[${counts.kyobo}]])</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a th:href="@{/elib/ebook/list(GROUP='ebook',applier='알라딘',sort=3,type=1)}">
                                <span>알라딘</span>
                                <span class="count">([[${counts.al}]])</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="doc">
                <div class="doc-head">
                    <div class="doc-title">
                        <h3 th:if="${sort=='4' and type!='4'}" >새로 들어온 책</h3>
                        <h3 th:if="${sort=='4' and type=='4'}" >대출이 많은 책</h3>
                        <h3 th:if="${sort=='1' and type=='1'}" >주제별</h3>
                        <h3 th:if="${sort=='3' and type=='1'}" >유통사별</h3>
                    </div>
                </div>
                <div class="doc-body">
                    <div class="body">
						<div class="elib-top">
						    <div class="lsort">
						        <span>[[${total}]]</span>
						        종의 책이 있습니다. &nbsp;
						        <span>[[${currentPage}]]</span>
						        of [[${pageGroupEnd}]] page 
						    </div>
						    <div class="sort">
						        <a th:href="@{/elib/ebook/list(sort=${sort},type=2,GROUP=${vo.GROUP},cate1=${vo.cate1},cate2=${vo.cate2},applier=${vo.applier})}" class="btn" th:classappend="${type=='2'} ? 'active'">인기순</a>
						        <a th:href="@{/elib/ebook/list(sort=${sort},type=3,GROUP=${vo.GROUP},cate1=${vo.cate1},cate2=${vo.cate2},applier=${vo.applier})}" class="btn" th:classappend="${type=='3'} ? 'active'">제목순</a>
						        <a th:href="@{/elib/ebook/list(sort=${sort},type=1,GROUP=${vo.GROUP},cate1=${vo.cate1},cate2=${vo.cate2},applier=${vo.applier})}" class="btn" th:classappend="${type=='1'} ? 'active'">최신순</a>
						    </div>
						</div>
						<ul class="list">
						    <li class="elib" th:each="ebook : ${ebooks}">
						        <div class="thumb">
						            <a th:href="@{/elib/ebook/view(bookId=${ebook.bookId})}">
						                <img th:src="@{${ebook.thumb}}" alt="thumb">
						            </a>
						        </div>
						        <div class="cont">
						            <div class="flexbox">
						                <a th:href="@{/elib/ebook/view(bookId=${ebook.bookId})}" class="book_link">
						                    <b>[[${ebook.title}]]</b>
						                </a>
						                <div class="info">
						                    <span>[[${ebook.author}]]</span>
						                    <span> ㅣ </span>
						                    <span>[[${ebook.publisher}]]</span>
						                    <span> ㅣ </span>
						                    <span>[[${ebook.pubDate.substring(0,10)}]]</span>
						                </div>
						                <span class="snipet">
						                    [[${ebook.bintro}]]
						                </span>
						            </div>
						            <div class="meta">
						                <label>소속도서관</label>
						                <span>[[${ebook.belong}]]</span>
						                <span> ㅣ </span>
						                <label>공급사</label>
						                <span>[[${ebook.applier}]]</span>
						                <span> ㅣ </span>
						                <label>대출가능 여부: </label>
						                <span th:text="${ebook.loan} < 5 ? '대출가능':'대출불가능'"></span>
						                <span> ㅣ </span>
						                <label>대출 : </label>
						                <span>[[${ebook.loan}]]/5</span>
						                <span> ㅣ </span>
						                <label>예약 : </label>
						                <span>[[${ebook.reserv}]]/5</span>
						                <span> ㅣ </span>
						            </div>
						        </div>
						    </li>
						</ul>
                        <div class="paging">
						    <span>
						        <a th:href="@{/elib/ebook/list(pg=${pageGroupStart-1})}" th:if="${pageGroupStart gt 1}" class="pBtn previous">이전</a>
						        <th:block th:each="page : ${#numbers.sequence(pageGroupStart,pageGroupEnd)}">
			                		<a th:href="@{/elib/ebook/list(pg=${page},sort=${sort},type=${type},GROUP=${vo.GROUP},cate1=${vo.cate1},cate2=${vo.cate2},applier=${vo.applier})}" class="pBtn num " th:attrappend="class=${page==currentPage?'current':''}">[[${page}]]</a>
			                	</th:block>
						        <a th:href="@{/elib/ebook/list(pg=${pageGroupEnd+1})}" th:if="${pageGroupEnd lt lastPageNum}" class="pBtn next" >다음</a>
						    </span>
						</div>
                    </div>
                </div>
                <div class="doc-admin">
                    <div class="manager-box">
                        <span>
                            <label>담당부서</label>
                            <em> : 정보서비스팀</em>
                        </span>
                        <span>
                            <label>담당자</label>
                            <em> : 구홍모</em>
                        </span>
                        <span>
                            <label>전화번호</label>
                            <em> : 051-333-3333</em>
                        </span>
                        <span>
                            <label>최종수정일</label>
                            <em> : 2023.03.09</em>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:include="@{elib/_footer.html}"/>