<th:block th:include="@{elib/_header.html}"/>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('#book-borrow').click(function(e){
			e.preventDefault();
			let uid = $('.uid').val();
			let bookId = $('.bookId').val();
			let jsonData = {
					"uid":uid,
					"bookId":bookId,
					"state":"1"
			}
 			$.ajax({
				url:"/ChimAcademy/elib/mylibrary/register/",
				type:"post",
				data:jsonData,
				dataType:"json",
				success:function(data){
					if(data.result > 0){
						alert('대출이 완료되었습니다.')
				        if (!confirm("내서재로 가시겠습니까?")) {
				            
				        } else {
				            location.href = "/ChimAcademy/elib/mylibrary/mylib?bookId="+bookId;
				        }
					}else{
						alert('서버에 문제가 있습니다.\나중에 다시 시도해주세요.')
					}
				}
			});
		});
	});
</script>
<main id="sub-container">
    <div class="sub-visual">
        <div class="bg">
            <div class="search-box">
                <form action="#">
                    <section class="search">
                        <div class="box1">
                            <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                        </div>
                        <div class="box2">
                            <button><span class="material-icons">search</span></button>
                        </div>
                    </section>
                </form>
                <div class="doc-info">
                    <section>
                        <ol>
                            <li class="first">
                                <a href="#">
                                    <img src="/ChimAcademy/img/elib/home.png" alt="index">
                                </a>
                            </li>
                            <li>
                                <a href="#">전자책</a>
                            </li>
                            <li>
                                <a href="#">주제별</a>
                            </li>
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="lnb">
            <h2>
                <b>전자책</b>
            </h2>
            <ul>
                <li class="active">
                    <a href="#">
                        <span>새로 들어온 책</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>대출이 많은 책</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>주제별</span>
                    </a>
                    <ul class="subMenu">
                        <li>
                            <br>
                            <a href="#">
                                <span>유아/어린이</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>컴퓨터/IT</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>기타</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>인문/교양</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>철학/종교</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>사회</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span>유통사별</span>
                    </a>
                    <ul class="subMenu">
                        <li>
                            <br>
                            <a href="#">
                                <span>예스24</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>북큐브</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>교보문고</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>알라딘</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>이퓨처</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                        <li>
                            <br>
                            <a href="#">
                                <span>아이아프리카</span>
                                <span class="count">(2,731)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span>추천하는책</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="doc">
                <div class="doc-head">
                    <div class="doc-title">
                        <h3>새로 들어온 책</h3>
                    </div>
                </div>
                <div class="doc-body">
                    <div class="body">
						<div class="serial-wrap">
						    <div class="sview">
						        <div class="sinfo">
						        <input type="hidden" class="uid" th:value="${member.uid}">
						        <input type="hidden" class="bookId" th:value="${bookId}">
						            <div class="thumb">
						                <img th:src="@{${ebook.thumb}}" alt="썸네일">
						            </div>
						            <div class="info">
						                <ul>
						                    <li>
						                        <b>[[${ebook.title}]]</b>
						                    </li>
						                    <li>
						                        카테고리 : [[${ebook.c1Name}]] &#62; [[${ebook.c2Name}]]
						                    </li>
						                    <li>
						                        저자 : [[${ebook.author}]]
						                        <span> ㅣ </span>
						                        출판사 : [[${ebook.publisher}]]
						                        <span> ㅣ </span>
						                        출판년도 : [[${ebook.pubDate.substring(2,10)}]]
						                    </li>
						                    <li>
						                        공급사 : [[${ebook.applier}]]
						                        <span> ㅣ </span>
						                        <a th:href="@{/elib/info/install}">뷰어 설치 안내</a>
						                    </li>
						                    <li>
						                        소속도서관: [[${ebook.belong}]]
						                    </li>
						                    <li>
						                        대출 가능 여부: <span th:text="${ebook.loan} < 5 ? '대출가능':'불가능'"></span>
						                        <span> ㅣ </span>
						                        대출 : [[${ebook.loan}]]/5
						                        <span> ㅣ </span>
						                        예약 : [[${ebook.reserv}]]/5
						                    </li>
						                    <li>
						                        지원기기 : [[${ebook.support}]]
						                        <span> ㅣ </span>
						                        서비스 형태: EPUB
						                    </li>
						                    <li>
						                        좋아요 : [[${ebook.like}]]
						                    </li>
						                </ul>
						            </div>
						            <div class="sbtn">
						                <a href="#" class="btn btn1" id="book-borrow" th:if="${ebook.loan < 5}">
						                    <span>대출하기</span>
						                </a>
						                <a href="#" class="btn btn2" id="book-reserve" th:if="${ebook.loan == 5}">
						                    <span>예약하기</span>
						                </a>
						                <a href="#" class="btn btn3" id="book-recommend">
						                    <span>좋아요</span>
						                </a>
						                <a href="#" class="btn btn4" id="book-addfavorite">
						                    <span>나의 관심도서</span>
						                </a>
						            </div>
						        </div>
						        <div class="bookTab">
						            <ul>
						                <li class="active">
						                    <a href="#">도서 소개</a>
						                </li>
						                <li>
						                    <a href="#">저자 소개</a>
						                </li>
						                <li>
						                    <a href="#">목차</a>
						                </li>
						            </ul>
						        </div>
						        <div class="bInfo">
						            [[${ebook.bintro}]]
						        </div>
						        <div class="sbtn">
						            <a th:href="@{/elib/ebook/list}" id="goto-list" class="btn">
						                <span>목록으로</span>
						            </a>
						        </div>
						    </div>
						</div>
                    </div>
                </div>
                <div class="doc-admin">
                    <div class="manager-box">
                        <span>
                            <label>담당부서</label>
                            <em> : 정보서비스팀</em>
                        </span>
                        <span>
                            <label>담당자</label>
                            <em> : 구홍모</em>
                        </span>
                        <span>
                            <label>전화번호</label>
                            <em> : 051-333-3333</em>
                        </span>
                        <span>
                            <label>최종수정일</label>
                            <em> : 2023.03.09</em>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:include="@{elib/_footer.html}"/>