<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>침대학교 전자도서관</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/elib/ebook.css">
    <script>
        $(document).ready(function(){
          $('.slider').bxSlider();
        });
    </script>
</head>
<body>
    <div class="wrapper eb">
        <header>
            <div class="tnb">
                <section>
                    <div class="left-util">
                        <ul>
                            <li><a href="#" class="link1">학사관리시스템</a></li>
                            <li><a href="#" class="link2">학과게시판</a></li>
                        </ul>
                    </div>
                    <div class="right-util">
                        <ul>
                            <li><a href="#">로그인</a></li>
                            <li><a href="#">학번찾기</a></li>
                            <li><a href="#" class="link3">내서재</a></li>
                            <li><a href="#">뷰어 설치 안내</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="Gnb">
                <section>
                    <h1>
                        <a href="#">
                            <img src="#" alt="침대학교 로고">
                        </a>
                    </h1>
                    <div class="g-menu">
                        <ul class="gnb-menu">
                            <li>
                                <a href="#">전자책</a>
                                <ul class="subMenu">
                                    <li><a href="#">새로 들어온 책</a></li>
                                    <li><a href="#">대출이 많은 책</a></li>
                                    <li><a href="#">주제별</a></li>
                                    <li><a href="#">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">구독형전자책</a>
                                <ul class="subMenu">
                                    <li><a href="#">구독형전자책</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                                <ul class="subMenu">
                                    <li><a href="#">새로 들어온 책</a></li>
                                    <li><a href="#">대출이 많은 책</a></li>
                                    <li><a href="#">주제별</a></li>
                                    <li><a href="#">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">온라인컨텐츠</a>
                                <ul class="subMenu">
                                    <li><a href="#">전체보기</a></li>
                                    <li><a href="#">독서</a></li>
                                    <li><a href="#">인문·예술</a></li>
                                    <li><a href="#">학술DB</a></li>
                                    <li><a href="#">이러닝</a></li>
                                    <li><a href="#">전자잡지·신문</a></li>
                                    <li><a href="#">무료DB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">이용안내</a>
                                <ul class="subMenu">
                                    <li><a href="#">도서관소식</a></li>
                                    <li><a href="#">자주하는질문</a></li>
                                    <li><a href="#">희망자료 설문조사</a></li>
                                    <li><a href="#">키보드보안설치안내</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>
        <main id="sub-container">
            <div class="sub-visual">
                <div class="bg">
                    <div class="search-box">
                        <form action="#">
                            <section class="search">
                                <div class="box1">
                                    <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                                </div>
                                <div class="box2">
                                    <button><span class="material-icons">search</span></button>
                                </div>
                            </section>
                        </form>
                        <div class="doc-info">
                            <section>
                                <ol>
                                    <li class="first">
                                        <a href="#">
                                            <img src="/static/img/elib/home.png" alt="index">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">전자책</a>
                                    </li>
                                    <li>
                                        <a href="#">주제별</a>
                                    </li>
                                </ol>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="lnb">
                    <h2>
                        <b>전자책</b>
                    </h2>
                    <ul>
                        <li class="active">
                            <a href="#">
                                <span>새로 들어온 책</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>대출이 많은 책</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>주제별</span>
                            </a>
                            <ul class="subMenu">
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>유아/어린이</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>컴퓨터/IT</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>기타</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>인문/교양</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>철학/종교</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>사회</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span>유통사별</span>
                            </a>
                            <ul class="subMenu">
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>예스24</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>북큐브</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>교보문고</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>알라딘</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>이퓨처</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>아이아프리카</span>
                                        <span class="count">(2,731)</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span>추천하는책</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <div class="doc">
                        <div class="doc-head">
                            <div class="doc-title">
                                <h3>새로 들어온 책</h3>
                            </div>
                        </div>
                        <div class="doc-body">
                            <div class="body">
                                <div class="serial-wrap">
                                    <div class="sview">
                                        <div class="sinfo"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-top">
                <div class="info">
                    <section>
                        <div class="left">
                            <ul>
                                <li>
                                    <a href="#">
                                        <b>개인정보처리방침</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        저작권보호정책
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        키보드보안설치안내
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <select name="recommendSite1" class="recommendSite1" title="타대학도서관">
                                <option value="#">타대학도서관</option>
                            </select>
                            <select name="recommendSite2" class="recommendSite2" title="타지역도서관">
                                <option value="#">타지역도서관</option>
                            </select>
                        </div>
                    </section>
                </div>
            </div>
            <section class="address">
                <div class="logo">
                    <img src="#" alt="침대학교 전자도서관">
                </div>
                <div class="location">
                    <address>
                        <p>
                            <em>(46949) 부산광역시 부산진구 부산로310번길 33 (부산동)</em>
                            <br>
                            <em>
                                <b>☎</b>
                                전자책, 오디오북, 회원문의 051-333-3333 / 구독형 전자책, 온라인 콘텐츠 문의 051-333-3333
                            </em>
                        </p>
                        <span>
                            Copyright © 2023 Chim University Library. All rights reserved.
                        </span>
                    </address>
                </div>
            </section>
            <div class="home-up">
                <img src="/static/img/elib/m-top-btn.png" alt="위로" id="home-up">
            </div>
        </footer>
    </div>
</body>
</html>