        <footer>
            <div class="footer-top">
                <div class="info">
                    <section>
                        <div class="left">
                            <ul>
                                <li>
                                    <a href="#">
                                        <b>개인정보처리방침</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        저작권보호정책
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        키보드보안설치안내
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <select name="recommendSite1" class="recommendSite1" title="타대학도서관">
                                <option value="#">타대학도서관</option>
                            </select>
                            <select name="recommendSite2" class="recommendSite2" title="타지역도서관">
                                <option value="#">타지역도서관</option>
                            </select>
                        </div>
                    </section>
                </div>
            </div>
            <section class="address">
                <div class="logo">
                    <img th:src="@{/img/elib/elibLogo.png}" alt="침대학교 전자도서관">
                </div>
                <div class="location">
                    <address>
                        <p>
                            <em>(46949) 부산광역시 부산진구 부산로310번길 33 (부산동)</em>
                            <br>
                            <em>
                                <b>☎</b>
                                전자책, 오디오북, 회원문의 051-333-3333 / 구독형 전자책, 온라인 콘텐츠 문의 051-333-3333
                            </em>
                        </p>
                        <span>
                            Copyright © 2023 Chim University Library. All rights reserved.
                        </span>
                    </address>
                </div>
            </section>
            <div class="home-up">
                <img src="/ChimAcademy/img/elib/m-top-btn.png" alt="위로" id="home-up">
            </div>
        </footer>
    </div>
</body>
</html>