<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>침대학교 전자도서관</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/ChimAcademy/style/elib/ebook.css">
    <script>
        $(document).ready(function(){
          $('.slider').bxSlider();
        });
    </script>
</head>
<body>
    <div class="wrapper eb">
        <header>
            <div class="tnb">
                <section>
                    <div class="left-util">
                        <ul>
                            <li><a href="#" class="link1">학사관리시스템</a></li>
                            <li><a href="#" class="link2">학과게시판</a></li>
                        </ul>
                    </div>
                    <div class="right-util">
                        <ul>
                            <li><a th:href="@{/}">로그인</a></li>
                            <li><a th:href="@{/member/join}">학번찾기</a></li>
                            <li><a th:href="@{/elib/mylibrary/mylib}" class="link3">내서재</a></li>
                            <li><a th:href="@{/elib/info/install}">뷰어 설치 안내</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="Gnb">
                <section>
                    <h1>
                        <a th:href="@{/elib/}">
                            <img src="#" alt="침대학교 로고">
                        </a>
                    </h1>
                    <div class="g-menu">
                        <ul class="gnb-menu">
                            <li>
                                <a href="#">전자책</a>
                                <ul class="subMenu">
                                    <li><a th:href="@{/elib/ebook/list}">새로 들어온 책</a></li>
                                    <li><a href="#">대출이 많은 책</a></li>
                                    <li><a href="#">주제별</a></li>
                                    <li><a href="#">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">구독형전자책</a>
                                <ul class="subMenu">
                                    <li><a href="#">구독형전자책</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                                <ul class="subMenu">
                                    <li><a href="#">새로 들어온 책</a></li>
                                    <li><a href="#">대출이 많은 책</a></li>
                                    <li><a href="#">주제별</a></li>
                                    <li><a href="#">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">온라인컨텐츠</a>
                                <ul class="subMenu">
                                    <li><a href="#">전체보기</a></li>
                                    <li><a href="#">독서</a></li>
                                    <li><a href="#">인문·예술</a></li>
                                    <li><a href="#">학술DB</a></li>
                                    <li><a href="#">이러닝</a></li>
                                    <li><a href="#">전자잡지·신문</a></li>
                                    <li><a href="#">무료DB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">이용안내</a>
                                <ul class="subMenu">
                                    <li><a th:href="@{/elib/info/list}">도서관소식</a></li>
                                    <li><a href="#">자주하는질문</a></li>
                                    <li><a href="#">희망자료 설문조사</a></li>
                                    <li><a href="#">키보드보안설치안내</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>
