<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>침대학교 전자도서관</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/ChimAcademy/style/elib/index.css">
    <script>
        $(document).ready(function(){
          $('.slider').bxSlider();
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="tnb">
                <section>
                    <div class="left-util">
                        <ul>
                            <li><a href="#" class="link1">학사관리시스템</a></li>
                            <li><a href="#" class="link2">학과게시판</a></li>
                        </ul>
                    </div>
                    <div class="right-util">
                        <ul>
                            <li><a th:href="@{/}">로그인</a></li>
                            <li><a href="#">학번찾기</a></li>
                            <li><a th:href="@{/elib/mylibrary/mylib}" class="link3">내서재</a></li>
                            <li><a href="#">뷰어 설치 안내</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="Gnb">
                <section>
                    <h1>
                        <a href="#">
                            <img src="#" alt="침대학교 로고">
                        </a>
                    </h1>
                    <div class="g-menu">
                        <ul class="gnb-menu">
                            <li>
                                <a href="#">전자책</a>
                                <ul class="subMenu">
                                    <li><a th:href="@{/elib/ebook/list}">새로 들어온 책</a></li>
                                    <li><a th:href="@{/elib/ebook/list}">대출이 많은 책</a></li>
                                    <li><a th:href="@{/elib/ebook/list}">주제별</a></li>
                                    <li><a th:href="@{/elib/ebook/list}">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">구독형전자책</a>
                                <ul class="subMenu">
                                    <li><a href="#">구독형전자책</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">오디오북</a>
                                <ul class="subMenu">
                                    <li><a href="#">새로 들어온 책</a></li>
                                    <li><a href="#">대출이 많은 책</a></li>
                                    <li><a href="#">주제별</a></li>
                                    <li><a href="#">유통사별</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">온라인컨텐츠</a>
                                <ul class="subMenu">
                                    <li><a href="#">전체보기</a></li>
                                    <li><a href="#">독서</a></li>
                                    <li><a href="#">인문·예술</a></li>
                                    <li><a href="#">학술DB</a></li>
                                    <li><a href="#">이러닝</a></li>
                                    <li><a href="#">전자잡지·신문</a></li>
                                    <li><a href="#">무료DB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">이용안내</a>
                                <ul class="subMenu">
                                    <li><a href="#">도서관소식</a></li>
                                    <li><a href="#">자주하는질문</a></li>
                                    <li><a href="#">희망자료 설문조사</a></li>
                                    <li><a href="#">키보드보안설치안내</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>
        <main>
            <div id="container">
                <div class="section-box">
                    <div class="search-box">
                        <form action="#">
                            <div class="search">
                                <div class="box1">
                                    <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                                </div>
                                <div class="box2">
                                    <button><span class="material-icons">search</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <section>
                    <div class="left">
                        <div class="quick">
                            <ul class="ico">
                                <li>
                                    <a th:href="@{/elib/ebook/list}" class="quick1">
                                        <div class="b1">
                                            <h4>전자책</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick2">
                                        <div class="b2">
                                            <h4>구독형전자책</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick3">
                                        <div class="b3">
                                            <h4>오디오북</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick4">
                                        <div class="b4">
                                            <h4>독서콘텐츠</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick5">
                                        <div class="b5">
                                            <h4>전자잡지/신문</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick6">
                                        <div class="b6">
                                            <h4>인문/예술</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick7">
                                        <div class="b7">
                                            <h4>학술DB</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick8">
                                        <div class="b8">
                                            <h4>희망자료</h4>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="quick9">
                                        <div class="b9">
                                            <h4>이러닝</h4>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="slider">
                            <div><a href="#"><img src="https://via.placeholder.com/640x190" alt="img"></a></div>
                            <div><a href="#"><img src="https://via.placeholder.com/640x190" alt="img"></a></div>
                        </div>
                        <div class="notice">
                            <ul>
                                <li class="list">
                                    <div class="ntc">
                                        <div class="tit">
                                            <strong>도서관소식</strong>
                                        </div>
                                        <div class="cont">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">arrow_right</span>신착도서(시민 희망 전자책 3차, 15종) 안내
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">arrow_right</span>신착도서(시민 희망 전자책 3차, 15종) 안내
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">arrow_right</span>신착도서(시민 희망 전자책 3차, 15종) 안내
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">arrow_right</span>신착도서(시민 희망 전자책 3차, 15종) 안내
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="material-icons">arrow_right</span>신착도서(시민 희망 전자책 3차, 15종) 안내
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="#"><span class="material-icons">add</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="use">
                                    <a href="#">
                                        <div class="guide">
                                            <h4>
                                                전자도서관<br>
                                                <b>이용안내</b>
                                            </h4>
                                            <p>전자도서관 이렇게 이용하세요</p>
                                            <p>
                                                <img th:src="@{/img/elib/btn-01.png}" alt="바로가기">
                                            </p>
                                            <span>
                                                <img th:src="@{/img/elib/more-btn02.png}" alt="+">
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="book-box">
                    <div>
                        <ul>
                            <li class="on"><a href="#">새로 들어온 책</a></li>
                            <li><a href="#">대출이 많은 책</a></li>
                            <li><a href="#">추천하는 책</a></li>
                        </ul>
                        <div class="contents">
                            <div>
                                <ul>
                                    <li>
                                        <div class="tit">
                                            <h3 class="book">일반전자책</h3>
                                            <a href="#"><span class="material-icons">add</span></a>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="tit">
                                            <h3 class="audio">오디오북</h3>
                                            <a href="#"><span class="material-icons">add</span></a>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="https://via.placeholder.com/142x197" alt="img">
                                                    <br>
                                                    <span>개인주의자의 철학 수업</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="footer-top">
                <div class="info">
                    <section>
                        <div class="left">
                            <ul>
                                <li>
                                    <a href="#">
                                        <b>개인정보처리방침</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        저작권보호정책
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        키보드보안설치안내
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <select name="recommendSite1" class="recommendSite1" title="타대학도서관">
                                <option value="#">타대학도서관</option>
                            </select>
                            <select name="recommendSite2" class="recommendSite2" title="타지역도서관">
                                <option value="#">타지역도서관</option>
                            </select>
                        </div>
                    </section>
                </div>
            </div>
            <section class="address">
                <div class="logo">
                    <img src="#" alt="침대학교 전자도서관">
                </div>
                <div class="location">
                    <address>
                        <p>
                            <em>(46949) 부산광역시 부산진구 부산로310번길 33 (부산동)</em>
                            <br>
                            <em>
                                <b>☎</b>
                                전자책, 오디오북, 회원문의 051-333-3333 / 구독형 전자책, 온라인 콘텐츠 문의 051-333-3333
                            </em>
                        </p>
                        <span>
                            Copyright © 2023 Chim University Library. All rights reserved.
                        </span>
                    </address>
                </div>
            </section>
            <div class="home-up">
                <img src="/static/img/elib/m-top-btn.png" alt="위로" id="home-up">
            </div>
        </footer>
    </div>
</body>
</html>