<th:block th:include="@{professor/_header.html}"/>


        <main>
           <th:block th:include="@{_aside.html}"/>

            <section id="myinfo">
                <!-- 내 정보 -->
                <nav class="distance">
                    <h3>강의목록</h3>
                </nav>
               <section>
                    <table>
                        <tr>
                            <th>no</th>
                            <th>학년</th>
                            <th>교과목명</th>
                            <th>이수구분</th>
                            <th>학점</th>
                            <th>강의시간</th>
                            <th>인원제한</th>
                            <th>수강인원</th>
                            <th>강의계획서</th>
                        </tr>
                        <tr>
                           <td>1</td>
                           <td>1</td>
                           <td>고고학의 첫걸음</td>
                           <td>전필</td>
                           <td>3</td>
                           <td>3시간</td>
                           <td>45</td>
                           <td>28</td>
                           <td>
                                <button class="btn_plan">작성</button>
                           </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>고고학의 첫걸음</td>
                            <td>전필</td>
                            <td>3</td>
                            <td>3시간</td>
                            <td>45</td>
                            <td>28</td>
                            <td>
                                 <button class="btn_plan">작성</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>고고학의 첫걸음</td>
                            <td>전필</td>
                            <td>3</td>
                            <td>3시간</td>
                            <td>45</td>
                            <td>28</td>
                            <td>
                                 <button class="btn_plan">작성</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>고고학의 첫걸음</td>
                            <td>전필</td>
                            <td>3</td>
                            <td>3시간</td>
                            <td>45</td>
                            <td>28</td>
                            <td>
                                 <button class="btn_plan">작성</button>
                            </td>
                         </tr>
                   </table>
                </section>
                <div class="page">
                    <a href=""><</a>
                    <a href="" class="on">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">></a>
                </div> 
              <!-- 수강내역 -->
              <nav class="distance">
                <h3>강의계획서</h3>
                </nav>
                <section class="plan">
                    <table id="userListTable">
                        <tbody>
                            <tr>
                                <th>작성자</th>
                                <td><span>홍길동</span></td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <th>파일첨부</th>
                                <td><span><input type="file"></span></td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <div class="btn_end">
                    <button class="btn blue">작성</button>
                </div>
                
            </section>
		</main>
<th:block th:include="@{_footer.html}"/>
