<div class="lnb">
    <h2>
        <b>온라인콘텐츠</b>
    </h2>
    <ul>
        <li>
        <li>
                    <a th:href="@{/}">
                        <span>전체보기</span>
                    </a>
                </li>
            <li  class="active">
            	<a th:href="@{/elib/info/how}">
                <span>독서</span>
            </a>
            <ul class="subMenu">
                <li>
                    <br>
                    <a th:href="@{/}">
                        <span style="color: #3975d6;">시요일</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a href="#">
                        <span>북코스모스</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a href="#">
                        <span>하이라이츠 라이브러리</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a href="#">
                        <span>오디오 라이브러리</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span>인문·예술</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>학술DB</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>이러닝</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>전자잡지·신문</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>무료DB</span>
            </a>
        </li>
    </ul>
</div>