<th:block th:include="@{elib/_header.html}"/>
        <main id="sub-container">
            <div class="sub-visual">
                <div class="bg">
                    <div class="search-box">
						<form th:action="@{/elib/ebook/search}" method="get">
		                    <section class="search">
		                        <div class="box1">
		                            <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
		                        </div>
		                        <div class="box2">
		                            <button type="submit"><span class="material-icons">search</span></button>
		                        </div>
		                    </section>
		                </form>
                        <div class="doc-info">
                            <section>
                                <ol>
                                    <li class="first">
                                        <a href="#">
                                            <img th:src="@{/img/elib/home.png}" alt="index">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">이용안내</a>
                                    </li>
                                    <li>
                                        <a href="#">뷰어 설치 안내</a>
                                    </li>
                                </ol>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <section>
			<div class="lnb">
			    <h2>
			        <b>온라인콘텐츠</b>
			    </h2>
			    <ul>
			        <li>
			        <li>
			            <a th:href="@{/elib/}">
			               <span>전체보기</span>
			            </a>
			        </li>
			            <li  class="active">
			            	<a th:href="@{/elib/online/reading}">
			                <span>독서</span>
			            </a>
			            <ul class="subMenu">
			                <li>
			                    <br>
			                    <a th:href="@{/elib/online/reading}">
			                        <span style="color: #3975d6;">시요일</span>
			                    </a>
			                </li>
			                <li>
			                    <br>
			                    <a href="#">
			                        <span>북코스모스</span>
			                    </a>
			                </li>
			                <li>
			                    <br>
			                    <a href="#">
			                        <span>하이라이츠 라이브러리</span>
			                    </a>
			                </li>
			                <li>
			                    <br>
			                    <a href="#">
			                        <span>오디오 라이브러리</span>
			                    </a>
			                </li>
			            </ul>
			        </li>
			        <li>
			            <a th:href="@{/elib/online/humanArt}">
			                <span>인문·예술</span>
			            </a>
			        </li>
			        <li>
			            <a th:href="@{/elib/online/DBpia}">
			                <span>학술DB</span>
			            </a>
			        </li>
			        <li>
			            <a th:href="@{/elib/online/E_learning}">
			                <span>이러닝</span>
			            </a>
			        </li>
			        <li>
			            <a th:href="@{/elib/online/magazine}">
			                <span>전자잡지·신문</span>
			            </a>
			        </li>
			        <li>
			            <a th:href="@{/elib/online/DBpia}">
			                <span>무료DB</span>
			            </a>
			        </li>
			    </ul>
			</div>
                <div class="content">
                    <div class="doc">
                        <div class="doc-head">
                            <div class="doc-title">
                                <h3>시요일</h3>
                            </div>
                        </div>
                        <div class="doc-body">
                            <div class="body">
                                <div class="poem_bgbox bgbox">
                                	<div class="if-txt">
                                		<p>
                                			<span class="tt">시큐레이션 검색서비스</span>
                                			<br>
                                			<span class="btit">시詩요일</span>
                                		</p>
                                		<br>
                                		<ul class="btns_wrap_tac">
                                			<li>
                                				<a href="#" class="btn_link02">
	                                				<span>시요일 바로가기</span>
	                                				<span class="ico ico_link"></span>
                                				</a>
                                			</li>
                                		</ul>
                                	</div>
                                </div>
                                <h3>시요일이란</h3>
                                <div class="txt-box">
                                	<p>
                                		출판사 창비의 시(詩) 큐레이션 전문 어플리케이션으로, 4만 3천여편 아름다운 시의 감동을 모두 담아 언제 어디서든 원하는 시를 찾아 읽고 선물할 수 있습니다. 부산광역시 전자도서관 회원이라면 무료로 모든 콘텐츠 이용이 가능합니다.
                                	</p>
                                </div>
                                <br>
                                <h3>소개영상</h3>
                                <div style="border:1px solid #e3e3e3; padding: 30px;">
                                	<div class="videoBox">
                                		<iframe width="100%" height="500px" src="https://www.youtube.com/embed/C3SRYhzpfVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                	</div>
                                </div>
                                <br>
                                <h3>주요기능</h3>
                                <ul class="con">
                                	<li>
                                		<strong>오늘의 시</strong>
                                		 : 하루 한편씩 그날에 어울리는 시 선물(알림 Push)
                                	</li>
                                	<li>
                                		<strong>테마별 추천시</strong>
                                		 : 상황에 맞게 시요일이 엄선한 주제별 추천시
                                	</li>
                                	<li>
                                		<strong>시인 낭송</strong>
                                		 : 시인들의 음성을 직접 듣는 시
                                	</li>
                                	<li>
                                		<strong>키워드/태그 검색</strong>
                                		 : 본문·시어·시인·태그(주제어)를 이용한 빠르고 강력한 검색
                                	</li>
                                	<li>
                                		<strong>시요일의 선택</strong>
                                		 : 책∙영화∙반려동물 등 전문 필진의 유익한 글
                                	</li>
                                	<li>
                                		<strong>시作! 일기</strong>
                                		 : 당신의 시를 남겨보세요
                                	</li>
                                	<li>
                                		<strong>스크랩/SNS 공유</strong>
                                		 : 나만의 시집을 만들고 좋은 시는 예쁜 이미지로 공유
                                	</li>
                                </ul>
                                <h3>앱다운로드</h3>
                                <div class="applicationQrcode clearfix">
                                	<p class="desc">
                                		구글 플레이 스토어 또는 앱스토어에서
                                		<strong>'시요일'</strong>
                                		을 검색하시면 어플리케이션을 다운로드 할 수 있습니다.
                                	</p>
                                	<div class="appStore android">
                                		<img th:src="@{/img/elib/qrcode_android_poem.jpg}" style="width: 122px; height: 122px;">
                                		<p>
                                			안드로이드 (Android)
                                			<br>
                                			구글플레이스토어
                                			<a title="새창에서열림" class="btn small01 down newWin" href="https://play.google.com/store/apps/details?id=com.mediachangbi.app.sisunapp&pli=1">
                                				다운로드
                                				<i class="fa fa-extranal-link"></i>
                                			</a>
                                		</p>
                                	</div>
                                	<div class="appStore ios">
                                		<img th:src="@{/img/elib/qrcode_ios_poem.gif}" style="width: 122px; height: 122px;">
                                		<p>
                                			IOS (Iphone)
                                			<br>
                                			앱스토어
                                			<a title="새창에서열림" class="btn small01 down newWin" href="https://apps.apple.com/app/id1125839000">
                                				다운로드
                                				<i class="fa fa-extranal-link"></i>
                                			</a>
                                		</p>
                                	</div>
                                </div>
                                <br>
                                <h3 style="margin-top: 164px;">이용방법</h3>
                                <div class="libropiaGuide poemDayGuide1">
                                	<ol>
                                		<li>
                                			<span>앱 다운로드 후 설치</span>
                                		</li>
                                		<li>
                                			<span>
                                				로그인 화면에서
                                				<strong>'도서관 회원'</strong>
                                				클릭 후
                                				<strong>'부산도서관'</strong>
                                				선택
                                			</span>
                                		</li>
                                		<li>
                                			<span>부산광역시 통합회원 아이디로 로그인</span>
                                		</li>
                                		<li>
                                			<span>자유롭게 시요일 홈페이지 이용하기</span>
                                		</li>
                                		<li>
                                			<span style="background-color: #fff; margin-left: -70px;">※ 준회원(웹회원)은 가입할 수 없으며, 도서관을 방문하여 회원증을 발급받은 후 이용하여야 합니다.</span>
                                		</li>
                                	</ol>
                                </div>
                                <br>
                                <h3>시요일 도서관 홈페이지 이용방법</h3>
                                <div class="libropiaGuide poemDayGuide2">
                                	<ol>
                                		<li>
                                			<span>부산광역시 전자도서관 홈페이지 로그인</span>
                                		</li>
                                		<li>
                                			<span>
                                				상단 온라인콘텐츠 메뉴 내
                                				<strong>'시요일'</strong>
												클릭
                                			</span>
                                		</li>
                                		<li>
                                			<span>자유롭게 시요일 홈페이지 이용하기</span>
                                		</li>
                                	</ol>
                                </div>
                                <div id="menuRatingDiv"></div>
                            </div>
                        </div>
                        <div class="doc-admin" style="margin-top:30px;">
                            <div class="manager-box">
                                <span>
                                    <label>담당부서</label>
                                    <em> : 정보서비스팀</em>
                                </span>
                                <span>
                                    <label>담당자</label>
                                    <em> : 구홍모</em>
                                </span>
                                <span>
                                    <label>전화번호</label>
                                    <em> : 051-333-3333</em>
                                </span>
                                <span>
                                    <label>최종수정일</label>
                                    <em> : 2023.03.09</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
<th:block th:include="@{elib/_footer.html}"/>