<th:block th:include="@{member/_header.html}"/>
<script>
	$(()=>{
		if(sessionStorage.length == 0){
			location.href = '/ChimAcademy/member/confirm';
		}
		memSessStorage();
		pwCheck();
		emailCheck();
		emailAuth();
		emailCodeConfirm();
		pwEqualCheck();
		execDaumPostcode();
		memberJoin();

		
	});
</script>
		<main id="join">
            <nav>
				<h1>가입하기</h1>
			</nav>
			<form th:action="@{/member/join}" method="POST" id="memberJoinForm">
				<!-- 검색 정보 호출 영역 -->
				<section>
					<table>
						<tr>
							<th>
								<span class="essential">*</span>이름
							</th>
							<td><input type="text" name="name" value="" class="joinInfo" readonly="readonly"></td>
							<th>
								<span class="essential">*</span>생년월일
							</th>
							<td><input type="text" name="birth" value="" class="joinInfo" readonly="readonly"></td>
						</tr>
						<tr>
							<th>
								<span class="essential">*</span>학번
							</th>
							<td><input type="text" name="uid" value="" class="joinInfo" readonly="readonly"></td>
							<th>
								<span class="essential">*</span>휴대폰번호
							</th>
							<td><input type="text" name="hp" value="" class="joinInfo" readonly="readonly"></td>
						</tr>
					</table>
				</section>
				<!-- 입력 정보영 역 -->		
				<section>
					<table>
						<tr>
							<th>
								<span class="essential">*</span>성별
							</th>
							<td>
								<label>
									<input type="radio" name="gender" value="1">
									남
								</label>
								<label>
									<input type="radio" name="gender" value="2" checked>
									여
								</label>
							</td>
							<td></td>
						</tr>
						<tr>
							<th>
								<span class="essential">*</span>비밀번호
							</th>
							<td colspan="2">
								<input type="password" name="pass" required>
								<span id="msgPw1" class="errMsg">영문자, 숫자, 특수문자 포함 8자 이상 20자 이하로 입력해주세요.</span>
							</td>
						</tr>
						<tr>
							<th>
								<span class="essential">*</span>비밀번호확인
							</th>
							<td colspan="2">
								<input type="password" name="pass2" placeholder="비밀번호를 확인" required>
								<span id="msgPw2" class="errMsg">비밀번호가 서로 일치하지 않습니다.</span>
							</td>
						</tr>
						<tr>
							<th>
								<span class="essential">*</span>이메일 주소
							</th>
							<td colspan="2">
								<input type="email" name="email" required>
								<button type="button" id="btnEmailAuth" class="btnEmail">인증번호 발송</button>
								<span id="msgEmail" class="errMsg">이메일 주소 형식에 맞게 입력해주세요.</span>
							</td>
						</tr>
						<tr style="display: none;" id="trEmailAuth">
							<th>
								<span class="essential">*</span>인증번호 입력
							</th>
							<td colspan="2">
								<input type="text" name="emailCode" required>
								<button type="button" id="btnCodeConfirm" class="btnEmail">인증번호 확인</button>
							</td>
						</tr>
						
						<tr class="addr">
							
							<th>
								<span class="essential">*</span>주소
							</th>
							<td>
								<div>
									<input type="text" name="zip" id="zip" placeholder="우편번호 입력 클릭" readonly>
									<button type="button" id="btnZip">우편번호 찾기</button>
								</div>
								<div>
									<input type="text" name="addr1" id="addr1" size="50" placeholder="주소를 검색하세요." readonly>
								</div>
								<div>
									<input type="text" name="addr2" id="addr2" size="50" placeholder="상세주소를 입력하세요." required="required">
								</div>
							</td>
							<td></td>
						</tr>
					</table>
				</section>
			</form>
			<button id="memberJoinBtn">가입하기</button>
		</main>
<th:block th:include="@{_footer.html}"/>