<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>침대학교</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    
    <link rel="stylesheet" th:href="@{/style/unity.css}"/>
    <link rel="stylesheet" th:href="@{/style/common.css}"/>
    
    <!-- 작업 css -->
    <link rel="stylesheet" th:href="@{/style/board/board_D107.css}"/>

	<script th:src="@{/js/board/notice.js}"></script>
	


</head>
<th:block th:include="@{_body.html}"/>