<th:block th:include="@{board/D107/_header.html}"/>

	<main>
   	<th:block th:include="@{_aside.html}"/>
            <section id="depList">
                <!-- 내 정보 -->
                <div class="banner">
                	<img style="width: 100%; height: 100%;" th:src="@{/img/board/D107/D107_banner.png}" alt="중어중문학과_배너">
                </div>
               <section>
                    <table>
                        <tr>
                            <th>no</th>
                            <th style="width: 56%">제목</th>
                            <th style="width: 16%">작성자</th>
                            <th style="width: 7%">조회수</th>
                            <th style="width: 10%">작성일</th>
                        </tr>
                        <tr th:each="board : ${boards}">
                           <td>[[${pageStartNum-boardStat.index}]]</td>
                           <td style="text-align: left;" class="taL"><a th:href="@{/board/D107/view(no=${board.no})}">[[${board.title}]] <span style="color: blue;">([[${board.commentsCount}]])</span></a></td>
                           <td>[[${board.name}]]</td>
                           <td>[[${board.hit}]]</td>
                           <td>[[${board.rdate.substring(2,10)}]]</td>
                        </tr>
                        
                   </table>
                </section>
                <div class="page_div">
                    <div class="page">
						<th:block th:if="${groups[0]>1}">
							<a th:href="@{/board/D107/list(pg=${groups[0]-1})}" class="prev">&lt;</a>
						</th:block>
						<th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
							<a th:href="@{/board/D107/list(pg=${num})}"
								th:class="${num==currentPage?'num on':'num'}">[[${num}]]</a>
						</th:block>
						<th:block th:if="${groups[1]<lastPageNum}">
							<a th:href="@{/board/D107/list(pg=${groups[1]+1})}" class="next">&gt;</a>
						</th:block>
					</div>
                    <div class="addPage">
                        <button class="btn blue" th:onclick="'location.href=\'' + @{/board/D107/write} + '\''">새글 작성</button>
                    </div>
                </div>

            
            </section>
		</main>
<th:block th:include="@{_footer.html}"/>