<th:block th:include="@{board/D107/_header.html}"/>
<script>
	$(function(){
		/* 댓글작성 */
		$('.submit').click(function(){
		
			let uid = $(".commentForm").children('input[name=uid]').val();
			let parent = $(".commentForm").children('input[name=parent]').val();
			let content = $(".commentForm").children('textarea[name=content]').val();
			
			let jsonData = {
					"uid":uid,
					"parent":parent,
					"content":content
			};
			
			$.ajax({
				url: "/ChimAcademy/board/D107/commentWrite",
				method: "post",
				data: jsonData,
				dataType: "json",
				success: function(data){
					if(data.comment.no > 0){
						alert('댓글 작성이 완료되었습니다.');
						
						let article = "";
						article += "<h2>"+data.comment.name+"</h2>";
						article += "<p>"+data.comment.rdate+"</p>";
						article += "<p class='comment'>"+data.comment.content+"</p>";
						article += "<div class='btn_div'>";
						article += "<span>"+data.comment.rdate+"</span>";
						article += "<div>";
						article += "<button class='btn_small btn_comment'>답글보기</button>";
						article += "<button class='btn_small'><i class='fas fa-thumbs-up'> 200</i></button>";
						article += "<button class='btn_small'><i class='fas fa-thumbs-down'> 10</i></button>";
												
						article += "</div>";
						article += "</div>";
						
						
						
						

					
					$('.commentList').prepend(article);
					$('textarea[name=content]').val('');
					};
				}				
			});
			
		});
	});
</script>

        <main>
            <th:block th:include="@{_aside.html}"/>
			<div class="board">
				<table>
					<h1>글 보기</h1>
					<tbody>
						<tr>
							<th>작성자</th>
							<td>[[${board.uid}]]학번 [[${board.name}]]</td>
						</tr>
						<tr>
							<th>제목</th>
							<td>[[${board.title}]]</td>
						</tr>
						<tr>
							<th>내용</th>
							<td><textarea readonly style="border: none;">[[${board.content}]]</textarea></td>
						</tr>
					</tbody>
				</table>
				<div class="btn_div">
					<button	id="test" type="button" class="btn nomal">목록</button>
					<div th:if="${board.uid==member.uid}">
						<button class="btn blue" th:onclick="'location.href=\'' + @{/board/D107/modify(no=${board.no})} + '\''">수정</button>
						<button class="btn red" th:onclick="'location.href=\'' + @{/board/D107/delete(no=${board.no})} + '\''">삭제</button>
					</div>
				</div>
				<div class="comment">
					<div class="write commentForm">					
						<input type="hidden" name="uid" th:value="${member.uid}">
						<input type="hidden" name="parent" th:value="${board.no}">
							<h1>댓글 수 <span>####</span></h1>
							<h2>홍길동</h2>
							<textarea name="content" cols="30" rows="10" placeholder="댓글 내용을 작성해주세요."></textarea>
							<div class="btn_end">
								<button class="btn blue submit">등록</button>
							</div>
					</div>
					<div class="view write commentList">
						<h2>홍길동</h2>
						<p>댓글 내용입니다</p>
						<div class="btn_div">
							<span>2023-01-17</span>
							<div>
								<button class="btn_small btn_comment">답글보기</button>
								<button class="btn_small"><i class="fas fa-thumbs-up"> 200</i></button>
								<button class="btn_small"><i class="fas fa-thumbs-down"> 10</i></button>
							</div>
						</div>
						<ul>
							<li>
								<div class="view recoment">
									<h2>홍길동</h2>
									<p>댓글 내용입니다</p>
									<div class="btn_div">
										<span>2023-01-17</span>
										<div>
											<button class="btn_small"><i class="fas fa-thumbs-up"> 200</i></button>
											<button class="btn_small"><i class="fas fa-thumbs-down"> 10</i></button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="view recoment write" style="margin-bottom: 200px;">
									<h2>홍길동</h2>
									<textarea name="" id="" cols="30" rows="10">대댓글 쓴 내용 입니다</textarea>
									<div class="btn_end">
										<button class="btn blue">등록</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
<th:block th:include="@{_footer.html}"/>
