<th:block th:include="@{board/D107/_header.html}"/>
<script>
$(()=>{
	noticeWrite();
})

</script>
        <main>
            <th:block th:include="@{_aside.html}"/>
			<div class="board">
				<form id="formNoticeWrite" th:action="@{/board/D107/write}" method="post" style="margin-bottom: 200px;">
					<table>
						<h1>글 작성하기</h1>
						<tbody>
							<tr>
								<th>작성자</th>
								<td>[[${#authentication.principal.user.uid}]]학번  [[${#authentication.principal.user.name}]]</td>
							</tr>
							<tr>
								<th>제목</th>
								<td><input type="text" name="title"></td>
							</tr>
							<tr>
								<th>내용</th>
								<td><textarea name="content" cols="30" rows="10"></textarea></td>
							</tr>
						</tbody>
					</table>
					<div class="btn_div">
						<button id="btnList" type="button" class="btn nomal"  th:onclick="'location.href=\'' + @{/board/D107/list} + '\''">목록</button>
						<button id="btnNoticeWrite" type="submit" class="btn blue">작성</button>
					</div>
					<input type="hidden" name="uid" th:value="${member.uid}">
				</form>
			</div>
		</main>
<th:block th:include="@{_footer.html}"/>