<th:block th:include="@{assistant/_header.html}"/>

        <main>
            <th:block th:include="@{_aside.html}"/>
            <section id="myinfo">
                <!-- 내 정보 -->
                <nav class="nav_div">
                    <h3>학과 인원 추가</h3>
                </nav>
               <section>
                    <table>
                        <tr>
                            <th>no</th>
                            <th>학번</th>
                            <th>이름</th>
                            <th>휴대폰</th>
                        </tr>
                        <tr>
                           <td>1</td>
                           <td>202001011</td>
                           <td>1</td>
                           <td>홍길동</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>202001011</td>
                            <td>1</td>
                            <td>홍길동</td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>202001011</td>
                            <td>1</td>
                            <td>홍길동</td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>202001011</td>
                            <td>1</td>
                            <td>홍길동</td>
                         </tr>
                         <tr>
                            <td>1</td>
                            <td>202001011</td>
                            <td>1</td>
                            <td>홍길동</td>
                         </tr>

                   </table>
                </section>
                <div class="page_div">
                    <div class="page">
                        <a href=""><</a>
                        <a href="" class="on">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">></a>
                    </div>
                    <div class="addPage">
                        <button class="btn blue">추가</button>
                    </div>
                </div>

            
            </section>
		</main>
<th:block th:include="@{_footer.html}"/>
