<div class="lnb">
    <h2>
        <b>이용안내</b>
    </h2>
    <ul>
        <li class="active">
            <a th:href="@{/elib/info/how}">
                <span>이용안내</span>
            </a>
            <ul class="subMenu">
                <li>
                    <br>
                    <a th:href="@{/}">
                        <span>회원가입</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a th:href="@{/elib/info/how}">
                        <span>전자책/오디오북 이용안내</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a href="#">
                        <span>온라인컨텐츠 이용안내</span>
                    </a>
                </li>
                <li>
                    <br>
                    <a th:href="@{/elib/info/install}">
                        <span>뷰어 설치 안내</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a th:href="@{/elib/info/list}">
                <span>도서관소식</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>희망자료 설문조사</span>
            </a>
        </li>
        <th:block sec:authorize="hasAnyRole('4')">
        <li>
            <a th:href="@{/elib/info/register}">
                <span>전자도서/오디오북 추가하기</span>
            </a>
        </li>
        </th:block>
    </ul>
</div>