<th:block th:include="@{elib/_header.html}"/>
        <main id="sub-container">
            <div class="sub-visual">
                <div class="bg">
                    <div class="search-box">
                        <form action="#">
                            <section class="search">
                                <div class="box1">
                                    <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                                </div>
                                <div class="box2">
                                    <button><span class="material-icons">search</span></button>
                                </div>
                            </section>
                        </form>
                        <div class="doc-info">
                            <section>
                                <ol>
                                    <li class="first">
                                        <a href="#">
                                            <img src="/static/img/elib/home.png" alt="index">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">이용안내</a>
                                    </li>
                                    <li>
                                        <a href="#">도서관소식</a>
                                    </li>
                                </ol>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="lnb">
                    <h2>
                        <b>이용안내</b>
                    </h2>
                    <ul>
                        <li class="active">
                            <a href="#">
                                <span>이용안내</span>
                            </a>
                            <ul class="subMenu">
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>회원가입</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>전자책/오디오북 이용안내</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>온라인컨텐츠 이용안내</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>뷰어 설치 안내</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span>도서관소식</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>희망자료 설문조사</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <div class="doc">
                        <div class="doc-head">
                            <div class="doc-title">
                                <h3>도서관소식</h3>
                            </div>
                        </div>
                        <div class="doc-body">
                            <div class="body">
                                <div class="table-wrap">
                                    <table class="center">
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>작성일</th>
                                            <th>조회수</th>
                                            <th>파일</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>공지</span>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span>모바일앱(비패스)을 통한 비대면 회원증 발급 방법 안내</span>
                                                </a>
                                            </td>
                                            <td>관리자</td>
                                            <td>2022.03.24</td>
                                            <td>조회수</td>
                                            <td>
                                                <span class="material-icons">save</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="doc-admin">
                            <div class="manager-box">
                                <span>
                                    <label>담당부서</label>
                                    <em> : 정보서비스팀</em>
                                </span>
                                <span>
                                    <label>담당자</label>
                                    <em> : 구홍모</em>
                                </span>
                                <span>
                                    <label>전화번호</label>
                                    <em> : 051-333-3333</em>
                                </span>
                                <span>
                                    <label>최종수정일</label>
                                    <em> : 2023.03.09</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
<th:block th:include="@{elib/_header.html}"/>