<th:block th:include="@{board/_header.html}"/>

        <main>
            <th:block th:include="@{_aside.html}"/>
			<div class="board">
				<table>
					<h1>글 작성하기</h1>
					<tbody>
						<tr>
							<th>작성자</th>
							<td>20231010 홍길동</td>
						</tr>
						<tr>
							<th>제목</th>
							<td><input type="text"></td>
						</tr>
						<tr>
							<th>내용</th>
							<td><textarea name="" id="" cols="30" rows="10"></textarea></td>
						</tr>
					</tbody>
				</table>
				<div class="btn_div">
					<button class="btn nomal" >목록</button>
					<input type="submit" class="btn blue">작성</input>
				</div>
			</div>
		</main>
		<footer></footer>
</body>
</html>
