<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>침대학교</title>    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
    
    <link rel="stylesheet" th:href="@{/style/common.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    
    <!-- 작업 css -->
    <link rel="stylesheet" th:href="@{/style/board/board_P701.css}"/>
    <link rel="stylesheet" th:href="@{/style/unity.css}"/>
	
	<script src="/ChimAcademy/js/board/japanese.js"></script>
	
	<!-- 스마트에디터 -->
	<script type="text/javascript" src="/ChimAcademy/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>

    <script>
        $(function(){
            $('#side > li > ol').hide();

            $('#side > li > a').click(function(){
                $(this).siblings().slideToggle(300);
            });
        });
    </script>
    
    <script>
    let oEditors = []

    smartEditor = function() {
      console.log("Naver SmartEditor")
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/ChimAcademy/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      })
    }

    $(document).ready(function() {
      smartEditor();
    })
  </script>
    
    

</head>

<th:block th:include="@{_body.html}"/>