
		<footer>

			<div class="footerCate">
				<ul>
					<li><a href="#">채용공고&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">대학정보공시&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">정보공개&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">개인정보처리방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">법적고시&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">윤리인권위원회&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">사이트맵</a></li>
				</ul>
			</div>
			<div class="footerData">
				<div class="footerLogo">
					<img th:src="@{/img/침대학교_로고_테두리.png}" alt="로고_푸터">
				</div>
				<div class="footerSpans">
					<span>부산광역시 연제구 중앙대로 1001&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span>T. 02-3277-2114</span><br>
					<span id="copyright">COPYRIGHT 2023 BY CHIM ACADEMY. ALL RIGHTS RESERVED.</span><br>
				</div>

				<div class="libBtn">
					<div>
						<p>침대학교 전자도서관</p>
					</div>
					<div>
						<p>GO</p>
					</div>
				</div>
			</div>
		</footer>
</body>

</html>