<th:block th:include="@{elib/_header.html}"/>
        <main id="sub-container">
            <div class="sub-visual">
                <div class="bg">
                    <div class="search-box">
                        <form action="#">
                            <section class="search">
                                <div class="box1">
                                    <input type="text" class="text" name="keyword" placeholder="원하시는 자료를 검색할 수 있습니다.">                        
                                </div>
                                <div class="box2">
                                    <button><span class="material-icons">search</span></button>
                                </div>
                            </section>
                        </form>
                        <div class="doc-info">
                            <section>
                                <ol>
                                    <li class="first">
                                        <a href="#">
                                            <img src="/ChimAcademy/img/elib/home.png" alt="index">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">내서재</a>
                                    </li>
                                    <li>
                                        <a href="#">자료대출내역</a>
                                    </li>
                                    <li>
                                        <a href="#">대출중 도서</a>
                                    </li>
                                </ol>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="lnb">
                    <h2>
                        <b>내서재</b>
                    </h2>
                    <ul>
                        <li class="active">
                            <a href="#">
                                <span>자료대출내역</span>
                            </a>
                            <ul class="subMenu">
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>대출중 도서</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>예약중인 도서</span>
                                    </a>
                                </li>
                                <li>
                                    <br>
                                    <a href="#">
                                        <span>지난대출 도서</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span>나의 관심도서</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>회원정보수정</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <div class="doc">
                        <div class="doc-head">
                            <div class="doc-title">
                                <h3>새로 들어온 책</h3>
                            </div>
                        </div>
                        <div class="doc-body">
                            <div class="body">
                                <div class="elib-top">
                                    <div class="lsort">
                                        <span>12,077</span>
                                        권의 전자책이 있습니다. &nbsp;
                                        <span>1</span>
                                        of 1 page 
                                    </div>
                                </div>
                                <ul class="list">
                                    <li class="elib" th:each="mylib : ${mylibs}">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="https://via.placeholder.com/118x174" alt="thumb">
                                            </a>
                                        </div>
                                        <div class="cont">
                                            <div class="flexbox">
                                                <a href="#" class="book_link">
                                                    <b>읽었다는 착각</b>
                                                </a>
                                                <div class="info">
                                                    <span>조병영,이형래 저</span>
                                                    <span> ㅣ </span>
                                                    <span>EBS BOOKS</span>
                                                    <span> ㅣ </span>
                                                    <span>2023-01-03</span>
                                                </div>
                                            </div>
                                            <div class="meta">
                                                <label>소속도서관 : </label>
                                                <span>침대학교 전자도서관</span>
                                                <span> ㅣ </span>
                                                <label>공급사 : </label>
                                                <span>교보문고</span>
                                                <span> ㅣ </span>
                                                <label>대출일 :</label>
                                                <span>2023-03-16</span>
                                                <span> ㅣ </span>
                                                <label>반납예정일 : </label>
                                                <span>2023-03-30</span>
                                                <span> ㅣ </span>
                                            </div>
                                        </div>
                                        <div style="position: absolute;; bottom: 20px; right: 20px; width: 238px;">
                                            <a href="#" class="btn btn1 book-view">
                                                <span>책읽기</span>
                                            </a>
                                            <a href="#" class="btn btn4 book-return">
                                                <span>반납하기</span>
                                            </a>
                                            <a href="#" class="btn btn5 book-view">
                                                <span>연장하기</span>
                                            </a>
                                        </div> 
                                    </li>
                                    <li class="elib">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="https://via.placeholder.com/118x174" alt="thumb">
                                            </a>
                                        </div>
                                        <div class="cont">
                                            <div class="flexbox">
                                                <a href="#" class="book_link">
                                                    <b>읽었다는 착각</b>
                                                </a>
                                                <div class="info">
                                                    <span>조병영,이형래 저</span>
                                                    <span> ㅣ </span>
                                                    <span>EBS BOOKS</span>
                                                    <span> ㅣ </span>
                                                    <span>2023-01-03</span>
                                                </div>
                                            </div>
                                            <div class="meta">
                                                <label>소속도서관</label>
                                                <span>침대학교 전자도서관</span>
                                                <span> ㅣ </span>
                                                <label>공급사</label>
                                                <span>교보문고</span>
                                                <span> ㅣ </span>
                                                <label>대출가능 여부: </label>
                                                <span>예약가능</span>
                                                <span> ㅣ </span>
                                                <label>대출 : </label>
                                                <span>5/5</span>
                                                <span> ㅣ </span>
                                                <label>예약 : </label>
                                                <span>4/5</span>
                                                <span> ㅣ </span>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#" class="btn btn1 book-view">
                                                <span>책읽기</span>
                                            </a>
                                            <a href="#" class="btn btn4 book-return">
                                                <span>반납하기</span>
                                            </a>
                                            <a href="#" class="btn btn5 book-view">
                                                <span>연장하기</span>
                                            </a>
                                        </div> 
                                    </li>
                                </ul>
                                <div class="paging">
                                    <span>
                                        <a class="pBtn previous" href="#">이전</a>
                                        <a class="pBtn current" href="#">1</a>
                                        <a class="pBtn" href="#">2</a>
                                        <a class="pBtn" href="#">3</a>
                                        <a class="pBtn" href="#">4</a>
                                        <a class="pBtn" href="#">5</a>
                                        <a class="pBtn" href="#">6</a>
                                        <a class="pBtn" href="#">7</a>
                                        <a class="pBtn" href="#">8</a>
                                        <a class="pBtn" href="#">9</a>
                                        <a class="pBtn" href="#">10</a>
                                        <a class="pBtn next" href="#">다음</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="doc-admin">
                            <div class="manager-box">
                                <span>
                                    <label>담당부서</label>
                                    <em> : 정보서비스팀</em>
                                </span>
                                <span>
                                    <label>담당자</label>
                                    <em> : 구홍모</em>
                                </span>
                                <span>
                                    <label>전화번호</label>
                                    <em> : 051-333-3333</em>
                                </span>
                                <span>
                                    <label>최종수정일</label>
                                    <em> : 2023.03.09</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
<th:block th:include="@{elib/_footer.html}"/>